mottu-flows.json
[
    {
        "id": "429937dcb088aa8e",
        "type": "tab",
        "label": "Flow Rastreamento Motos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba4a7e2875d4f560",
        "type": "mqtt in",
        "z": "429937dcb088aa8e",
        "name": "Receber Status de Todos os Sensores",
        "topic": "iot/mottu-mottion/status",
        "qos": "2",
        "datatype": "json",
        "broker": "adb114682f965e27",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "330cf3ba8d9c6fc5",
                "256832ea2fdea91f",
                "ef62a2cc298f8413"
            ]
        ]
    },
    {
        "id": "330cf3ba8d9c6fc5",
        "type": "function",
        "z": "429937dcb088aa8e",
        "name": "Insert MySQL",
        "func": "// msg.payload já é um objeto JSON do sensor\nlet data = msg.payload;\n\n// Recupera último estado salvo no contexto para essa moto\nlet ultimo = context.get(data.id_moto) || {};\n\n// Verifica se houve alteração de setor ou movimento\nif (ultimo.setor !== data.setor || ultimo.movimento !== data.movimento) {\n\n    // Atualiza o contexto\n    context.set(data.id_moto, {\n        setor: data.setor,\n        movimento: data.movimento\n    });\n\n    // Monta INSERT - garantindo que não vai NULL\n    msg.topic = `INSERT INTO dados_moto_sensor \n        (id_sensor, id_moto, setor, observacao, timestamp_millis) \n        VALUES (?, ?, ?, ?, ?)`;\n\n    msg.payload = [\n        data.id_sensor || \"SEM_SENSOR\",\n        data.id_moto || \"SEM_MOTO\",\n        data.setor || \"DESCONHECIDO\",\n        \"\",  // observação pode ficar vazio mesmo\n        data.timestamp || Date.now()\n    ];\n\n    return msg; // segue para o MySQL\n}\n\n// Se não mudou nada → não insere\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "ae46347eb63cbe28"
            ]
        ]
    },
    {
        "id": "ae46347eb63cbe28",
        "type": "mysql",
        "z": "429937dcb088aa8e",
        "mydb": "0e41ff487822d66a",
        "name": "iotdb",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "256832ea2fdea91f",
        "type": "function",
        "z": "429937dcb088aa8e",
        "name": "Contar por Setor",
        "func": "// Armazena estado dos sensores\ncontext.sensores = context.sensores || {};\nlet sensor = msg.payload;\n\ncontext.sensores[sensor.id_sensor] = sensor.setor;\n\n// Conta sensores por setor\nlet contagem = {};\nfor (let id in context.sensores) {\n    let s = context.sensores[id];\n    contagem[s] = (contagem[s] || 0) + 1;\n}\n\n// Cria uma mensagem separada para cada setor\nlet output = [];\nfor (let setor in contagem) {\n    output.push({ payload: contagem[setor], topic: setor });\n}\n\nreturn output.map(m => [m]);",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 480,
        "wires": [
            [
                "12789ea14191508b",
                "efafce11ed7e1c37"
            ]
        ]
    },
    {
        "id": "12789ea14191508b",
        "type": "switch",
        "z": "429937dcb088aa8e",
        "name": "Separar por Setor",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Agendada para manutenção",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Danos Estruturais",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Reparos Simples",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sem Placa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 500,
        "wires": [
            [
                "3109e050e1fd5f8c"
            ],
            [
                "0f7dfe9763a3bb27"
            ],
            [
                "9e68e5625f8e43f5"
            ],
            [
                "4ed1c3a12a217efc"
            ]
        ]
    },
    {
        "id": "3109e050e1fd5f8c",
        "type": "ui_gauge",
        "z": "429937dcb088aa8e",
        "name": "Agendada para manutenção",
        "group": "aa70e4c7bc07bda7",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Agendada para manutenção",
        "label": "motos",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 10,
        "seg2": 15,
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 400,
        "wires": []
    },
    {
        "id": "0f7dfe9763a3bb27",
        "type": "ui_gauge",
        "z": "429937dcb088aa8e",
        "name": "Danos Estruturais",
        "group": "aa70e4c7bc07bda7",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Danos Estruturais",
        "label": "motos",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 10,
        "seg2": 15,
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "9e68e5625f8e43f5",
        "type": "ui_gauge",
        "z": "429937dcb088aa8e",
        "name": "Reparos Simples",
        "group": "aa70e4c7bc07bda7",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Reparos Simples",
        "label": "motos",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 10,
        "seg2": 15,
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ed1c3a12a217efc",
        "type": "ui_gauge",
        "z": "429937dcb088aa8e",
        "name": "Sem Placa",
        "group": "aa70e4c7bc07bda7",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Sem Placa",
        "label": "motos",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 10,
        "seg2": 15,
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "ef62a2cc298f8413",
        "type": "debug",
        "z": "429937dcb088aa8e",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "efafce11ed7e1c37",
        "type": "debug",
        "z": "429937dcb088aa8e",
        "name": "Debug Setor",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "adb114682f965e27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e41ff487822d66a",
        "type": "MySQLdatabase",
        "name": "iot",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_mottu_fiap",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "aa70e4c7bc07bda7",
        "type": "ui_group",
        "name": "Dash",
        "tab": "7470571be385d8f2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7470571be385d8f2",
        "type": "ui_tab",
        "name": "Rastreamento Motos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]